.blogPost_container {
  max-width: 50rem;
  margin: 0 auto;
}

.title_of_the_blog {
  font-size: 3rem;
}

.content_of_blog {
  text-align: left;
}

.blog_paras {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1em;
}
